#chat-screen{
    background-color: #abc1d1;
}
.chatting-pirate{
    position: relative;
}

#chat-screen .chatting-pirate,
#chat_screen .status-bar{
    position: fixed;
    width: 98%;
    box-sizing: border-box;
    top:10px;
    z-index: 1;
}

.main-chat{
    margin: var(--margin);
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clander{
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
    width: 190px;
    height:20px;
    color:white;
    border-radius: 30px;
}

.main-chat__receive--own{
    justify-content: flex-end;
}


.main-chat__receive{
    width:100%;
    display: flex;
    margin-bottom: 30px;
}

.main-chat__receive img{
    width: 60px;
    height: 80px;
    border-radius: 50px;
    margin-right: 8px;
}

.main-chat__author{
    opacity:0.8;
    font-size: 13px;
    margin-bottom: 8px;
    display: block;
}

.main-chat__content-bubble{
    background-color: white;
    padding: 10px 10px;
    border-radius: 15px;
    border-top-left-radius: 0px;
    font-weight: 600;
    margin-right: 5px;
}
.main-chat__content-time{
    opacity: 0.8;
    font-size: 14px;
}

.main-chat__content{
    display: flex;
    align-items: flex-end;
}


.main-chat__receive--own .main-chat__content-bubble{
    background-color: #FAE100;
    border-top-right-radius: 0px;
    border-top-left-radius: 15px;
    margin-right: 0px;
    margin-left: 5px;
}

.main-chat__receive--own  .main-chat__content{
    flex-direction: row-reverse;
}

.reply{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding:  10px 25px;
    box-sizing: border-box;
    align-items: center;
}

.reply .reply__column:first-child{
    width: 10%;
}
.reply .reply__column:last-child{
    width: 90%;
    position: relative;
}

.reply input{
    height: 30px;
    width: 98%;
    border-radius: 20px;
    padding: 10px;
    outline: none;
    border: none;
    box-shadow: 1px 2px 5px 4px rgb(255, 99, 71,0.5);
}
.reply__column:last-child > i,
.reply button{
    position: absolute;
    right:0;
    top:25px;
}
.reply__column:last-child i{
    right: 60px;
}

.reply button{
    background-color: #FAE100;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    top:5px;
    right: 10px;
}